# Python
__pycache__/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/

# Editor
.vscode/

# Operations
outputs/
steps/

# Files
output.png
output.mp4
steps.mp4
video.mp4

dream-outputs
mr-love

.idea
